.complete {
  @include flex(center, center, column);
  height: 80vh;
  width: 100%;
}

.complete-header {
  @include flex(center, space-between, row);
  height: 105px;
  font-size: 2rem;
  width: 80%;
  border-bottom: solid 1px $darkbrown;
}
.complete-main {
  @include flex(center, center, row);
  flex: 1;
  flex-wrap: wrap;
  p {
    text-align: center;
    font-size: 12px;
  }
}

.complete-post-button {
  padding: 10px;
  cursor: pointer;
  background-color: $green;
  color: $white;
  &:active {
    opacity: 0.7;
  }
}
