.match {
  @include flex(center, '', column);
  min-height: 100vh;
  width: 100%;
}

.match-header {
  @include flex(center, space-between, row);
  height: 102px;
  font-size: 2rem;
  width: 80%;
  border-bottom: solid 1px $darkbrown;
}

.match-main {
  @include flex(center, '', column);
}

.review-button {
  padding: 10px;
  background-color: $darkbrown;
  color: $white;
}

.review-button:active {
  opacity: 0.7;
}
