.progress {
  @include flex(center, space-evenly, row);
  height: 10vh;
  width: 800px;
  @include md {
    width: 540px;
  }
  @include sm {
    width: 380px;
  }
}
.progress-item {
  @include flex(center, flex-start, row);
  color: grey;
  h3 {
    font-size: 1.6rem;
    color: grey;
    @include md {
      font-size: 1.2rem;
    }
    @include sm {
      font-size: .8rem;
    }
  }
}
.progress-arrow {
  font-size: 1.8rem;
  @include sm {
    font-size: 1.2rem;
  }
}

.invis {
  color: $white;
}
.check-icon {
  font-size: 2rem;
  @include md {
    font-size: 1.2rem;
  }
  @include sm {
    font-size: .8rem;
  }
  color: $green;
}
