.review {
  @include flex(center, '', column);
  min-height: 80vh;
  overflow: hidden;
}
.review-header {
  @extend .match-header;
}

.review-table {
  @include flex('', '', column);
  overflow-x: auto;
  align-self: flex-start;
  margin: 20px;
  height: 500px;
  background-color: pink;
  border-top: solid 1px $darkgrey;
  border-left: solid 1px $darkgrey;
  width: 1000px;
  @include lg {
    width: 700px;
  }
  p {
    margin-left: 2px;
  }
}
.review-table-headers {
  @include flex(center, space-evenly, row);
}
.review-table-header {
  flex: 1;
  @include flex(center, '', row);
  background-color: $lightgrey;
  border-bottom: solid 1px $darkgrey;
  border-right: solid 1px $darkgrey;
  height: 40px;
  min-width: 30px;
}

.review-table-row {
  @include flex(center, space-evenly, row);
  height: 40px;
  background-color: $white;
}
.review-table-cell {
  flex: 1;
  @include flex(center, '', row);
  border-right: solid 1px $darkgrey;
  border-bottom: solid 1px $darkgrey;
  height: 40px;
  min-width: 30px;
}
.no-scrollbars {
  scrollbar-width: thin;
  /* scrollbar-color: transparent transparent; */
}
.no-scrollbars::-webkit-scrollbar {
  display: none;
}
