.review {
  @include flex(center, '', column);
  height: 80vh;
  width: 100%;
}

.review-header {
  @include flex(baseline, space-between, row);
  padding: 15px 0px 15px 0px;
  font-size: 2rem;
  width: 80%;
  border-bottom: solid 1px $darkbrown;
}

.review-table {
  @include flex('', '', column);
  margin: 20px;
  height: 500px;
  border-top: solid 1px $darkgrey;
  border-left: solid 1px $darkgrey;
  width: 1000px;
  p {
    margin-left: 3px;
  }
}

.review-table-headers {
  @include flex(center, space-evenly, row);
  width: 1001px;
}

.review-table-header {
  @include flex(center, '', row);
  background-color: $lightgrey;
  border-bottom: solid 1px $darkgrey;
  border-right: solid 1px $darkgrey;
  height: 40px;
  width: 100%;
}

.review-table-row {
  @include flex(center, space-evenly, row);
  height: 40px;
  background-color: $white;
}

.review-table-cell {
  @include flex(center, '', row);
  border-right: solid 1px $darkgrey;
  border-bottom: solid 1px $darkgrey;
  height: 40px;
  width: 100%;
}

.no-scrollbars {
  scrollbar-width: thin;
  /* scrollbar-color: transparent transparent; */
}

.no-scrollbars::-webkit-scrollbar {
  display: none;
}
