.upload {
  @include flex('', center, row);
  height: 80vh;
}
.upload-header {
  margin-top: 50px;
}
.dropzone {
  @include flex(center, center, row);
  border: dashed 2px $darkbrown;
  height: 300px;
  width: 600px;
  background-color: $background;
  cursor: pointer;
}
.dropzone-content {
  @include flex(center, space-around, column);
  height: 80%;
  p {
    color: grey;
  }
  
}
.active-dropzone {
  background-color: $darkbrown;
}
.upload-icon {
  font-size: 4rem;
  color: grey;
}
.active-dropzone-content {
  color: $green;
}
