* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.app {
  display: flex;
  /* align-items: center;
  justify-content: center; */
  flex-direction: column;
  height: 100vh;
}

.header {
  align-self: flex-end;
}

.content {
  margin-top: 110px;
}