* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-arrow {
  margin-left: 20px;
  font-size: 3rem;
  color: grey;
}
