* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
.app {
  display: flex;
  flex-direction: column;
  background-color: #d5cdc2;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #383634; */
}
.content {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* justify-content: center; */
}

.back-arrow {
  margin-left: 20px;
  font-size: 3rem;
  color: grey;
  cursor: pointer;
}

.trove-button {
  text-align: center;
  color: #383634;
  padding: 15px 30px;
  border: solid 1px #383634;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-top: 20px;
  text-transform: uppercase;
}
.trove-button:active {
  opacity: 0.7;
}
.trove-button:hover {
  background-color: #383634;
  color: #fff;
}
