.csv-header {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 240px;
  width: 1000px;
  border: solid 1px #d3d3d3;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  font-size: 1rem;
}
.table-header h4 {
  font-size: 1rem;
  margin-left: 30px;
}
.table-header-left {
  display: flex;
  background-color: #d3d3d3;
  align-items: center;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}
.table-header-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.table-header-right-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.table-header-right-content p {
  margin-left: 5px;
}
.table-header-right-content div {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 1.4rem;
  color: grey;

}
.drop-down {
  margin-top: 40px;
  position: absolute;
  width: 250px;
  background-color: #ffffff;
  border: solid 1px #d3d3d3;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: none;
}
.drop-down-item {
  padding: 5px;
}
.drop-down-item:hover {
  background-color: #d3d3d3;
}

h1 {
  font-size: 1rem;
}
.csv-table {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  border: solid 1px grey;
  width: 450px;
}

.cell {
  display: flex;
  align-items: center;
  height: 40px;
  border-top: solid 1px grey;
}
.cell p {
  margin-left: 10px;
  font-size: 1rem;
}

.cell-index {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d3d3d3;
  border-right: solid 1px grey;
  height: 100%;
  width: 25px;
}

.csv-results {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 140px;
  width: 450px;
}
.results {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #333;
}
.results h1 {
  display: flex;
  margin-left: 5px;
  background-color: #ffffff;
  color: #333;
}
.results p {
  background-color: #d3d3d3;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px;
}
.error-text {
  color: orange;
}
.small-check-icon {
  font-size: 1.2rem;
  color: #4bb543;
}
.results-button-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.confirm {
  background-color: #4bb543;
  border-color: #4bb543;
  color: #ffffff;
}
.ignore {
  background-color: #ffffff;
  color: grey;
  border: solid 1px grey;
}
.error {
  background-color: #ffffff;
  color: orange;
  border: solid 1px orange;
}

.button {
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.button:active {
  opacity: 0.6;
}

.header-confirmed {
  display: flex;
  align-items: center;
}
.header-confirmed h2 {
  margin-left: 5px;
}
.large-check-icon {
  font-size: 1.4rem;
  color: #4bb543;
}