.fileItem {
  display: flex;
  align-items: center;
  height: 70px;
  width: 600px;
  background-color: #fff;
  /* border: solid 1px #383634; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}
.fileContent {
  margin-left: 10px;
}
.fileIcon {
  font-size: 3rem;
  margin-left: 20px;
  color: rgb(19, 125, 88);
}
.fileButton {
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  background-color: rgb(19, 125, 88);
  color: #ffffff;
  cursor: pointer;
}
.fileButton:active {
  opacity: 0.7;
}
.fileRejected {
  margin-left: auto;
  margin-right: 10px;
}
.rejected {
  color: rgb(208, 80, 80);
}
