.match {
  width: 1000px;
  min-height: 100vh;
}

.match-header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.review-button {
  padding: 10px;
  background-color: #383634;
  color: #ffffff;
  border-radius: 5px;
}

.review-button:active {
  opacity: 0.7
}