.match {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-header {
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px #383634;
}

.match-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-button {
  padding: 10px;
  background-color: #383634;
  color: #ffffff;
}

.review-button:active {
  opacity: 0.7;
}
