.progress {
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100px;
  width: 800px;
}

.progress-item {
  display: flex;
  align-items: center;
  color: grey;
  /* background-color: pink; */
}

.progress-item h3 {
  font-size: 1.6rem;
}
.progress-arrow {
  margin-left: 25px;
  font-size: 1.8rem;
}

.completed {
  color: #4BB543;
}
.check-icon {
  margin-right: 10px;
  font-size: 2rem;
}