.progress {
  display: flex;
  align-items: center;
  height: 100px;
  width: 800px;

  
}

.progress-item {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
  /* background-color: pink  */
}

.progress-item h3 {
  font-size: 1.6rem;
  color: grey;

}
.progress-arrow {
  font-size: 1.8rem;
}

.invis {
  color: #fff;
}
.check-icon {
  font-size: 2rem;
  color: #4BB543;
}