.progress {
  display: flex;
  align-items: center;
  height: 100px;
  width: 800px;
}

.progress-item {
  width: 160px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: grey;
}

.progress-item h3 {
  font-size: 1.6rem;
}
.progress-arrow {
  font-size: 1.8rem;
}
.completed {
  color: #4BB543;
}
.invis {
  color: #fff;
}
.check-icon {
  margin-right: 5px;
  font-size: 2rem;
}