.progress {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  width: 800px;
}

.progress-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: grey;
}

.progress-item h3 {
  font-size: 1.6rem;
  color: grey;
}
.progress-arrow {
  font-size: 1.8rem;
}

.invis {
  color: #fff;
}
.check-icon {
  font-size: 2rem;
  color: rgb(19, 125, 88);
}
