.progress {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
  width: 800px;
}

.progress-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin: 10px;
  /* background-color: pink; */
}

.progress-item p {
  font-size: 1.8rem;
  color: grey;
}
.progress-arrow {
  font-size: 1.6rem;
  color: grey;
}
