.review {
  width: 1200px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-header {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
  width: 80%;
  align-self: center;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 1px #383634;
}

.review-table {
  margin: 20px;
  height: 500px;
  display: flex;
  flex-direction: column;
  border-top: solid 1px #333;
  border-left: solid 1px #333;
  width: 1000px;
}

.review-table-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.review-table-header {
  background-color: #d3d3d3;
  border-bottom: solid 1px #333;
  border-right: solid 1px #333;
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 124px;
  max-width: 124px;
}

.review-table-row {
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
}

.review-table-cell {
  display: flex;
  align-items: center;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
  height: 40px;
  min-width: 124px;
  max-width: 124px;
}

.review-table p {
  margin-left: 3px;
}

.no-scrollbars {
  scrollbar-width: thin;
  /* scrollbar-color: transparent transparent; */
}

.no-scrollbars::-webkit-scrollbar {
  display: none;
}
