.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.upload-header {
  margin-bottom: 10px;
}
.dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: dashed 2px #383634;
  height: 300px;
  width: 600px;
  background-color: #d5cdc2;
  cursor: pointer;
}

.dropzone-content {
  height: 80%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.dropzone-content p {
  color: grey;
}
.active-dropzone {
  background-color: #383634;
  border-color: #d5cdc2;
}
.upload-icon {
  font-size: 4rem;
  color: grey;
}
.active-dropzone-content {
  color: rgb(19, 125, 88);
}
/* .upload-file-button {
  background-color: #383634;
  color: #fff;
  padding: 10px;
  border: solid 1px #d3d3d3;
}
.upload-file-button:active {
  opacity: 0.7;
} */
