.fileItem {
  @include flex(center, null, row);
  height: 70px;
  width: 800px;
  @include lg {
    width: 600px;
  }
  @include md {
    width: 400px;
  }
  @include sm {
    width: 320px;
  }
  @include xs {
    width: 240px;
  }
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}
.fileContent {
  margin-left: 10px;
}
.fileIcon {
  font-size: 3rem;
  margin-left: 20px;
  color: $green;
}
.fileButton {
  @include flex(center, center, row);
  margin-left: auto;
  margin-right: 10px;
  height: 40px;
  width: 80px;
  background-color: $green;
  color: $white;
  cursor: pointer;
  &:active {
    opacity: 0.7;
  }
}
.fileRejected {
  margin-left: auto;
  margin-right: 10px;
}
.rejected {
  color: $red;
}
