.match-display {
  @include flex(center, center, column);
  width: 1000px;
  @include lg {
    width: 740px;
  }
  @include md {
    width: 460px;
  }
  @include sm {
    width: 300px;
  }
  margin: 40px 0px 40px 0px;
}
.display-container {
  @include flex(null, space-evenly, row);
  width: 100%;
  flex-wrap: wrap;
}
.display-item {
  @include flex(center, null, column);
  flex: 1;
  text-align: center;
  min-width: 320px;
}
.display-item-icon {
  font-size: 5rem;
  color: $darkgrey;
}

