.match {
  @include flex(center, null, column);
  min-height: 100vh;
  width: 100%;
}
.match-header {
  @include flex(center , space-between, row);
  flex-wrap: wrap;
  text-align: center;
  min-height: 100px;
  font-size: 1.8rem;
  @include md {
    font-size: 1.6rem;
    min-height: 160px;
  }
  @include sm {
    font-size: 1.2rem;
  }
  width: 80%;
  border-bottom: solid 1px $darkbrown;  
  h3 {
    flex: 1;
  }
  div {
    flex: 1;
  }
}
.match-main {
  @include flex(center, null, column);
}

