.review {
  @include flex(center, null, column);
  min-height: 80vh;
  overflow: hidden;
}
.review-header {
  @extend .match-header;
}

.review-table {
  @include flex(null, null, column);
  margin: 20px;
  height: 500px;
  border-top: solid 1px $darkgrey;
  border-left: solid 1px $darkgrey;
  width: 1000px;
  @include lg {
    width: 700px;
  }
  p {
    margin-left: 2px;
  }
}
.review-table-headers {
  @include flex(center, space-evenly, row);
  width: 1002px;
}
.review-table-header {
  @include flex(center, null, row);
  background-color: $lightgrey;
  border-bottom: solid 1px $darkgrey;
  border-right: solid 1px $darkgrey;
  height: 40px;
  width: 100%;
}

.review-table-row {
  @include flex(center, space-evenly, row);
  background-color: $white;
  width: 1000px;
}
.review-table-cell {
  @include flex(center, null, row);
  border-right: solid 1px $darkgrey;
  border-bottom: solid 1px $darkgrey;
  height: 40px;
  width: 100%;
}
.no-scrollbars {
  scrollbar-width: thin;
  /* scrollbar-color: transparent transparent; */
}
.no-scrollbars::-webkit-scrollbar {
  display: none;
}
