.upload {
  @include flex('', center, row);
  height: 80vh;
}
.upload-header {
  margin-top: 50px;
  align-self: flex-start;
}

.upload-content {
  @include flex (center, '', column)
}

.dropzone {
  @include flex(center, center, row);
  height: 380px;
  width: 800px;
  @include lg {
    width: 600px;
  }
  @include md {
    width: 400px;
  }
  @include sm {
    width: 320px;
  }
  @include xs {
    width: 240px;
  }
  border: dashed 2px $darkbrown;
  background-color: $background;
  cursor: pointer;
}
.dropzone-content {
  @include flex(center, space-around, column);
  height: 60%;
  p {
    color: grey;
  }
  .info-text {
    font-style: italic;
    text-align:center;  
    @include sm {
      width: 200px;
    }
  }
}

.active-dropzone {
  background-color: $lightgrey;
  border: solid 2px $darkbrown;
}
.upload-icon {
  font-size: 4rem;
  color: grey;
}
.active-dropzone-content {
  color: $green;
}
